.code {
	word-break: break-word;
	font-size: 0.8rem;
	font-family: monospace;
	background: #efefef;
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: 0.1rem 0.3rem 0.2rem;
	border-radius: 0.2rem;
    margin-bottom:2rem;
}
