# Umbraco instance URL to run tests against
UMBRACO_BASE_URL=https://localhost:44384

# Backoffice admin credentials
UMBRACO_ADMIN_USERNAME=admin@example.com
UMBRACO_ADMIN_PASSWORD=Password123!

# Headless mode (true | false)
HEADLESS=true
